.grid-container {
  box-sizing: border-box;
  max-width: 100% !important;

  .page-hero & {
    padding: 0 1.5rem;
  }

  @include media('≤tablet') {
    .page-hero &,
    .pricing &,
    .mission &,
    .featured &,
    .newsletter & {
      display: block !important;
      width: 100%;
      padding: 0 1.5rem;
    }
  }
}

body {
  background: #fff;
}

.site-content {
  padding: 0 !important;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background: transparent !important;
  padding: 0 2rem;

  @include media('≤tablet') {
    padding: 0 1rem;
  }
}

#page.container {
  padding: 0;
}

.navigation-branding .site-logo img {
  height: 80px;
  padding: 0;
  margin: 0;

  @include media('≤tablet') {
    height: 50px;
  }
}

section {
  padding: 2rem 0;
}

.page-hero {
  h1 {
    font-size: 6rem;
    text-transform: uppercase;
    line-height: 1;

    @include media('≤tablet') {
      font-size: 3.5rem;
    }
  }

  p {
    color: #fff;

    @include media('≤tablet') {
      font-size: 0.9rem;
    }
  }
}

.btn {
  display: inline-block;
  max-width: 6rem;
  font-size: 1rem;
  padding: 0.5rem 2.5rem;
  background-color: $primary;
  color: #fff;
  cursor: pointer;
}

a,
a:visited {
  &.btn {
    color: #fff;
  }
}

.link {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  a {
    line-height: 1.2;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: 0.3s ease;

    &:hover {
      border-color: rgba(255, 255, 255, 1);
      text-decoration: none;
    }
  }

  &:after {
    content: '›';
    margin-left: 0.5rem;
    color: #fff;
  }

  &.mod--dark {
    a {
      border-color: 1px solid rgba(30, 115, 190, 0);

      &:hover {
        border-color: rgba(30, 115, 190, 1);
      }
    }

    &:after {
      color: #1e73be;
    }
  }
}

/* table resets */
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: $sans;
  font-weight: 500;
  color: $dark;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

thead {
  background-color: $aegean;
  color: #fff;
}

table,
tr {
  border: 2px solid $darkgrey;
}
thead th {
  color: #fff;
}
th,
td {
  padding: 0.5rem 1rem;
}

tbody {
  th,
  td {
    font-weight: 400;
  }
}

select {
  background: #fafafa;
  color: #666;
  border: 1px solid #ccc;
  border-radius: 0;
  padding: 10px 15px;
  box-sizing: border-box;
  max-width: 100%;
  min-width: 80px;
}

.select2-container--default .select2-selection--single {
  height: 40px;
  background-color: #fafafa;
  border-color: #cccccc;
  border-radius: 0;

  .select2-selection__rendered {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 35px;
}
