.grid-container {
  box-sizing: border-box;
  max-width: 100% !important;

  .page-hero & {
    padding: 0 1.5rem;
  }

  @include media('≤tablet') {
    .page-hero &,
    .pricing &,
    .mission &,
    .featured &,
    .newsletter & {
      display: block !important;
      width: 100%;
      padding: 0 1.5rem;
    }
  }
}

body {
  background: #fff;
}

.site-content {
  padding: 0 !important;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  background: transparent !important;
}

.heading {
  text-transform: uppercase;
  font-size: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 0;

  &:after {
    content: '';
    width: 3rem;
    height: 1px;
    border-bottom: 1px solid $body;
    margin: 2rem 0;
  }

  &.alt {
    &:after {
      border-bottom: 1px solid #fff;
    }
  }

  &.center {
    justify-content: center;
    align-items: center;
  }
}

.navigation-branding .site-logo img {
  height: 80px;
  padding: 0;
  margin: 0;

  @include media('≤tablet') {
    height: 50px;
  }
}

.main-navigation .main-nav ul li {
  padding: 0 10px;

  a {
    line-height: 30px;
    margin: 15px 0;
    padding: 0 5px;
  }

  &.current-menu-item {
    a {
      border-bottom: 1px solid #fff;

      @include media('≤tablet') {
        border-bottom: 1px solid #000;
      }
    }
  }

  &:not(.current-menu-item):hover {
    a {
      opacity: 0.8;
    }
  }
}

section {
  padding: 2rem 0;
}

.page-hero {
  h1 {
    font-size: 6rem;
    text-transform: uppercase;
    line-height: 1;

    @include media('≤tablet') {
      font-size: 3.5rem;
    }
  }

  p {
    color: #fff;

    @include media('≤tablet') {
      font-size: 0.9rem;
    }
  }
}

.btn {
  display: inline-block;
  max-width: 6rem;
  font-size: 1rem;
  padding: 0.5rem 2.5rem;
  background-color: $primary;
  cursor: pointer;
}
