.site-footer {
  background: $lightgrey;
}

.site-info {
  background: $lightgrey;
}

.copyright-bar {
  color: $darkgrey;
  font-family: $sans;
}

.footer-widgets {
  background: transparent;
  padding-bottom: 0 !important;
}

.inside-footer-widgets {
  display: flex;
  align-items: center;
}

.footer-widget-1 {
  img {
    max-width: 150px !important;
  }
}

#menu-footer {
  display: flex;
  justify-content: space-evenly;

  li {
    a {
      color: #333;
      font-family: $serif;
    }
  }
}

@include media('<=desktop') {
  .footer-widget-1 {
    display: none;
  }
  .footer-widget-2 {
    width: 100% !important;
  }
}

@include media('<=tablet') {
  .footer-widget-2 {
    display: block;
  }
}
