.main-navigation {
  .main-nav {
    ul {
      display: flex;
      justify-content: flex-end;

      li {
        border-right: 1px solid $dark;
        max-width: 260px;

        &:nth-child(n + 5) {
          display: none;
        }

        &:nth-child(n + 7) {
          a {
            color: $dark;
          }
        }

        &:nth-child(4) {
          border: 0;
        }

        a {
          text-align: left;
          padding: 1rem;
          font-family: $serif;
          font-weight: 700;
          color: $aegean;
          line-height: normal;
          transition: 0.3s ease;
        }

        span {
          display: block;
          line-height: normal;
          font-family: $sans;
          font-weight: 700;
          color: #666;
          font-size: 0.8rem;
          margin-top: 0.5rem;
          letter-spacing: 0.01px;
          -webkit-font-smoothing: antialiased;
        }
      }
    }
  }
}

#sticky-navigation {
  li {
    border: 0;
  }

  .description {
    display: none;
  }
}

.secondary-navigation {
  background-color: transparent !important;

  .inside-navigation {
    .main-nav {
      ul {
        li {
          padding-top: 1rem;
          padding-bottom: 1rem;

          &:nth-child(2),
          &:nth-child(3) {
            a {
              border-right: 1px solid $dark;
              color: $dark;
            }
          }

          a {
            color: $aegean;
            font-family: $sans;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;
            line-height: normal;
          }
        }
      }
    }
  }
}
