.main-navigation {
  .main-nav {
    ul {
      display: flex;
      justify-content: flex-end;

      li {
        border-right: 1px solid $body;
        max-width: 260px;

        &:last-child {
          border: 0;
        }

        a {
          text-align: left;
          padding: 1rem;
          font-family: $serif;
          font-weight: 700;
          color: $aegean;
          line-height: normal;
          transition: 0.3s ease;
        }

        span {
          display: block;
          line-height: normal;
          font-family: $sans;
          font-weight: 700;
          color: #666;
          font-size: 0.8rem;
          margin-top: 0.5rem;
          letter-spacing: 0.01px;
          -webkit-font-smoothing: antialiased;
        }
      }
    }
  }
}

#sticky-navigation {
  li {
    border: 0;
  }

  .description {
    display: none;
  }
}

.secondary-navigation {
  background-color: transparent;
}
