.main-navigation {
  .main-nav {
    ul {
      display: flex;
      justify-content: flex-end;

      li {
        border-right: 1px solid $body;
        max-width: 250px;

        &:last-child {
          border: 0;
        }

        a {
          text-align: left;
          padding: 1rem;
          font-family: $serif;
          color: $aegean;
          line-height: normal;
        }

        span {
          display: block;
          line-height: normal;
          font-family: $sans;
          color: $body;
          font-size: 0.8rem;
          margin-top: 0.5rem;
        }
      }
    }
  }
}
