.partners {
  .tabs-nav {
    display: grid;
    grid-template-columns: repeat(4, max-content);
  }

  .tab-content {
    background: transparent;
  }

  .tab {
    box-sizing: border-box;
    width: 100%;
    border-right: 1px solid #000;
    padding: 0 2rem;

    &--1 {
    }
  }

  .tab__logo {
    max-height: 40px;

    &-2 {
      max-height: 50px;
    }
    &-3 {
      max-height: 48px;
    }
  }
}

.partners__section--top {
  display: grid;
  grid-template-columns: 60% 30%;
  grid-column-gap: 10%;
}

.operators {
  background: $light;

  .slick-list {
    padding: 0 50px;
    box-sizing: border-box;
  }

  .slick-track {
    display: flex;
    align-items: center;
  }

  .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slick-prev {
    left: 10px;
  }
  .slick-next {
    right: 10px;
  }
}
