aside {
  h4 {
    text-transform: capitalize;
    font-weight: 800;
  }
  border-right: 1px solid #ccc;
  padding: 3rem 6rem 3rem 0;
}

.sitemap {
  padding: 2rem !important;
}

.sitemap-side-container {
  display: flex;
  justify-content: space-between;
}

.sitemap-side-title {
  text-transform: uppercase;
}

.sitemap-side {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2rem;
}

.sitemap-side-item {
  h4,
  p {
    margin: 0;
  }
}

.sitemap {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
  }

  .menu-item-has-children {
    font-weight: 800;
  }
  .sub-menu {
    font-weight: normal;
  }
}
